/******************** reset *******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
/******************** general *******************/
@font-face {
    font-family:'outfit';
    src:url(./font/Outfit-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family:'outfit';
    src:url(./font/Outfit-Bold.ttf);
    font-weight: 700;
} 
.root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    
}
body {
     background-color: lightgray;
     text-align: center;
     font-size: 15px;
     font-family:'outfit';
}
h1 {
    color: rgb(0, 0, 70);
    font-size: 2em;
    margin-bottom: 0.6em;
}

/******************** mine *******************/
main {
    height: 123vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {

    background-color: white;
    width: 30%;
    padding: 1em;
    margin-bottom: 1.5em;
    border-radius: 0.800em;
    box-shadow: 0 3px 9px 2px Gray;

}

.box img {
    border-radius: 0.525em;
    margin-bottom: 1.5em;
}

.box p {
    color: Gray;
    font-size: 1.500em;
    margin-bottom: 1.5em;
}
footer {
    font-size: 10em;
}
/******************** media query *******************/
@media screen and (min-width: 375px) {
    .box{
        width: 75%;
    }
}

@media screen and (min-width: 600px) {
    .box{
        width: 50%;
    }
}

@media screen and (min-width: 900px) {
    .box{
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .box{
        width: 30%;
    }
}